<nav>
    <ul>
        <li><a href="/profile/watching">Watching</a></li>
        <li><a href="/profile/watched">Watched</a></li>
        <li><a href="/profile/to_watch">To Watch</a></li>
        <li><a href="/profile/abandoned">Abandoned</a></li>
    </ul>
</nav>
