<header>
    <nav>
        <a href="/">My Anime</a>
        <ul>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/characters/new">Add Character</a></li>
            <li><a href="/anime">Anime</a></li>
            <li><a href="/anime/new">Add Anime</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>
