@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/page-header.css';
@import 'shared/content-table.css';
@import 'shared/form.css';
@import 'shared/character.css';
@import 'shared/animes.css';

:root {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--color-background-dark);
}

.container {
    max-width: 1600px;
    margin: auto auto 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.error-message {
    font-size: 1.3rem;
    color: hsl(var(--color-danger-hue), 100%, 50%);
}
