:root {
    --character-cover-width: 200px;
    --character-cover-width-large: 255px;
    --character-cover-aspect-ratio: 0.75;
}

.character-cover {
    width: var(--character-cover-width);
    height: calc(var(--character-cover-width) / var(--character-cover-aspect-ratio));
}

.character-cover-large {
    --character-cover-width: var(--character-cover-width-large);
}

.character-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--anime-cover-width));
}

.character-grid-large {
    grid-template-columns: repeat(auto-fill, var(--character-cover-width-large));
}

.character-details {
    display: flex;
    grid-gap: 1.5rem;
}

.character-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.character-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: .4rem 1.2rem;
    grid-template-columns: auto auto;
}

.character-description {
    margin-top: .8rem;
}

.character-description-label {
    margin-bottom: .8rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.character-preview-info {

}

.character-grid a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-text-light);
}
