<h2 class="page-header">Edit Anime</h2>
<form action="/anime/<%= anime.id %>?_method=PUT" method="post">
    <%- include('_form_fields') %>
    <a href="/anime">Cancel</a>
    <button type="submit">Update</button>
</form>
