<h2 class="page-header">New Character</h2>
<form action="/characters" method="post">
    <%- include('_form_fields', { animes: animes }) %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/characters">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
